#body {
    background-color: #dfdfdf;
}
#contenedor {
    font-family: 'Lucida Sans Unicode', sans-serif;
    font-size: 1em;
    background-color: #FFFFFF;
    border:#d3d3d3 1px solid;
    text-align: justify;
    margin: 10px auto;
    /* width: 900px */
}
#encabezado {
    width: 700px;
    height: 100px;
    background: url('/assets/banner.png'), no-repeat;
    /* background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('./assets/fondo.jpg'); */
    border: #d3d3d3 1px solid
}
h1 {
    text-align: center;
    margin-top: 50px
}
div#contenido {
    border: #d3d3d3 1px solid;
    margin: 20px 20px 10px 190px;
    padding: 20px 15px;
}
h2 {
    color: #0075FF;
    border-bottom: #CFDFB5 1px solid;;
}
#menu {
    float: left;
    width: 170px;
    /* background-color: #ffd4d4; */
    margin: 20px 10px;
    padding: 0;
    list-style: none;
    border: rgb(209, 204, 204) 2px solid;
    border-radius: .5em; 
}

/* #menu li {
    border: #d3d3d3 1px solid;
    background-color: #0075FF;
    margin-bottom: 5px;
    font-size: 0.9em;
    text-align: center;
    line-height: 30px;
} */
/* #menu a {
    display: block;
    text-decoration: none;
    color: #000000
} */
/* #menu li:hover {
    background-color: #7092BE
}

#menu li.activa, #menu li:hover {
    background-color: #7092BE;
} */