<!-- <div class="container">
  
  <h3 class="d-flex justify-content-center">Angular 12 Fron End</h3>

  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
      <ul class="navbar-nav" id="menu">
          <li class="nav-item">
              <button routerLink="home" class="m-1 btn btn-light btn-outline-primary" Button>Home</button>
          </li>
          
          <li class="nav-item">
              <button routerLink="productos" class="m-1 btn btn-light btn-outline-primary" Button>Productos</button>
          </li>

      </ul>
  </nav>
</div> -->

<h3 style="text-align: center">Productos</h3>
<div id="body">
  <div id="contenedor">
      <ul class="navbar-nav" id="menu">
        <li class="nav-item"><button routerLink="home" class="m-1 btn btn-light btn-outline-primary" Button>Home</button></li>
        <li class="nav-item"><button routerLink="home" class="m-1 btn btn-light btn-outline-primary" Button>Modificar Stock</button></li>
        <li class="nav-item"><button routerLink="estado" class="m-1 btn btn-light btn-outline-primary" Button>Activar</button></li>
        <li class="nav-item"><button routerLink="paused" class="m-1 btn btn-light btn-outline-primary" Button>Paused</button></li>
        <li class="nav-item"><button routerLink="eliminar" class="m-1 btn btn-light btn-outline-primary" Button>Eliminar</button></li>
        <li class="nav-item"><button routerLink="productos" class="m-1 btn btn-light btn-outline-primary" Button>Listar Productos</button></li>
      </ul>

      <div id="contenido">
        <div class="container">
          <div class="row">
            <div class="col-3 border">
              <img class="d-block w-100" src="https://media.istockphoto.com/photos/fist-of-motorbiker-picture-id527665156?k=20&m=527665156&s=612x612&w=0&h=QbQq96SwVVwxS5oYL7dUpmY5gnx1Dy9tGHxXKauZG48="
                                         alt="First slide" width="500" height="260">
            </div>
            <div class="col-3 border">
              <img class="d-block w-100" src="https://cdn.pixabay.com/photo/2017/11/04/17/13/ferrari-360-2918130__480.jpg"
                                         alt="First slide" width="500" height="260">
            </div>
            <div class="col-3 border">
              <img class="d-block w-100" src="https://cdn.pixabay.com/photo/2015/04/14/13/51/auto-722158__340.jpg"
                                         alt="First slide" width="500" height="260">
            </div>
            <div class="col-3 border">
              <img class="d-block w-100" src="https://media.istockphoto.com/photos/mechanic-repairman-inspecting-car-picture-id490048444?b=1&k=20&m=490048444&s=170667a&w=0&h=I3FkY9l4wqSwouj1ZsCKUNtSR28aS9xMZkZ49Pf4l8Y="
                                         alt="First slide" width="500" height="260">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-3 border">
              <img class="d-block w-100" src="https://media.istockphoto.com/photos/car-engine-in-front-of-white-background-picture-id140028450?b=1&k=20&m=140028450&s=170667a&w=0&h=uSPLMvjbQdtStLuljw2C8k41M8MjACZikiEeeREgVh8="
                                         alt="First slide" width="500" height="260">
            </div>
            <div class="col-3 border">
              <img class="d-block w-100" src="https://media.istockphoto.com/photos/rearview-mirror-adjusted-to-the-windshield-picture-id807318714?b=1&k=20&m=807318714&s=170667a&w=0&h=-JpzXLGLrR6He3BYOLaUPt3BGTIILlq9MMbGj0sIUkQ="
                                         alt="First slide" width="500" height="260">
            </div>
            <div class="col-3 border">
              <img class="d-block w-100" src="https://media.istockphoto.com/photos/premium-car-interior-detail-white-leather-ventilated-seats-of-modern-picture-id1283916664?b=1&k=20&m=1283916664&s=170667a&w=0&h=N1GlLyQssXGqB-IiaUPydldfGnWUBA3HIE2x71jLODA="
                                         alt="First slide" width="500" height="260">
            </div>
            <div class="col-3 border">
              <img class="d-block w-100" src="https://media.istockphoto.com/photos/tire-of-motorcycle-picture-id461101009?b=1&k=20&m=461101009&s=170667a&w=0&h=ALzrHJKbgF5Ty5wUL-YbVtGh24r6c_z71I03eaQvdn4="
                                         alt="First slide" width="500" height="260">
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>